@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


/*Customizações referentes a toda a página*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
    background-color: #140351;
}
::-webkit-scrollbar-thumb {
    background: rgb(13, 13, 13);
    border-radius: 4px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    color: black;
    font-size: 20px;
}
a{
    color: black;
}
.info_background{
    background: linear-gradient(0deg,rgba(66,22,220,1)  0%,rgba(0,0,0,1) 100%);
}

/*Barra de navegação*/
header{
    width: 100vw;
    height: 10vh;
    background-color: white;
    box-shadow: rgba(17, 14, 193, 0.427) 0px 10px 20px, rgba(17, 14, 193, 0.427) 0px 6px 6px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a{
    color: black;
    margin-left: 2vw;
    font-size: 20px;
    font-weight: bold;
}
.navbar a:hover{
    color: #1a0467;
    text-shadow: rgba(1, 65, 130, 0.741) 6px 6px 25px;;
    
}
.div_logo{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
}
.logo{
    margin-top: 25%;
}
.logo p{
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    margin-top: -14px;
    font-style: italic;

}

/*Customização home, tela inicial*/
.home{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(66,22,220,1) 100%);
}
.container_Home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_Home img{
    width: 45%;
    border-radius: 25%;
}
.container_Home h1{
    font-size: 50px;
    color: white;
    font-family: 'Fjalla One', sans-serif;

}
/*Padronização dos containers*/
.container{
    height: 65vh;
    width: 80vw;
    background-color: white;
    margin-top: 20vh;
    border-radius: 20px;
    box-shadow: rgba(1, 65, 130, 0.741) 6px 6px 25px;

}


/*About Me*/
#container_aboutMe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
#container_aboutMe p{
    width: 30vw;
    height: 100%;
    font-size: 30px;
    text-align: start;
}

#img2{
    width: 30%;
    border-radius: 50%;
    margin-left: 10px;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: rgba(17, 14, 193, 0.427) 0px 5px 20px;
}
#div_p_aboutMe{
    display: flex;
    flex-direction: column;
}

/*Skills*/
#container_skills{
    width: 80vw;
    height: 70vh;
    background-color: white;
    margin-top: 20vh;
    border-radius: 20px;
    box-shadow: rgba(1, 65, 130, 0.741) 6px 6px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_Skills{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.skill{
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(17, 14, 193, 0.427) 0px 5px 20px, rgba(17, 14, 193, 0.427) 0px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.skill p{
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}
.icon{
    width: 35%;
}

/*Projetos*/
#container_projetos{
    height: 140vh;
}

.div_img_project{
    width: 60vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(17, 14, 193, 0.427) 0px 5px 20px, rgba(17, 14, 193, 0.427) 0px 5px 5px;
    margin: 30px;
    border-radius: 20px;  
}
.div_img_project img{
    object-fit: contain;
    height: 50vh;
}

.div_text_project_woofo{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_text_project_woofo p{
    font-size: 25px;
    margin: 20px 25px 0px 20px;
}
.div_text_project_woofo h1{
    font-size: 35px;
    font-weight: bold;
}

.div_links{
    display: flex;
    align-self: start;
    margin: 20px 0px 0px 20px;
}
.div_links img{
        margin: 5px;
        border: 2px solid black;
        border-radius: 50%;
}
.icons_projetos:hover{
    box-shadow: rgba(17, 14, 193, 0.427) 0px 5px 20px;
}
#projeto_woofo{
    display: flex;
    align-items: center;
}
#woofo_icon{
    background-color: rgb(0, 0, 0);
    width: 5vh;
}
#gitHub_icon{
    width: 5vh;
}

#dog_icon{
    width: 5vh;
}
#projeto_ranDog{
    display: flex;
    align-items: center;
    margin-top: 5vh;
}
.div_text_project_ranDog{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
}
.div_text_project_ranDog p{
    font-size: 25px;
    margin: 20px 0px 0px 30px;
}
.div_text_project_ranDog h1{
    font-size: 35px;
    font-weight: bold;
}

/*Contatos*/
#container_contatos{
    width: 30vw;
    height: 30vh;
    margin-top: 10vh;
    margin-left: 10vw;
    align-self: flex-start;
    margin-bottom: 10vh;
}
#container_contatos h1{
    margin: 20px;
}
.icon_contatos{
    width: 4vw;
    margin-left: 20px;
}
#div_email{
    display: flex;
    align-items: center;
}
